*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

ol,
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: currentColor;
}

a{
    text-decoration: none;
    color: currentColor;
}
.page-header{
    background-color: rgb(107, 226, 226);
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 3rem;
}
.page-footer{
    background-color: #333;
    display: flex;
    margin-top: 30px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.active-link{
    color: orangered;
}

.image-container{
    width: 200px;
    height: 300px;
}

.star-size{
    width: 30px;
}

.logo{
    height: 150px
}